.top-wrapper {
  width: 100vw;
  height: 80vh;
  background-image: url("../img/home/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-for-about {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  padding: 90px 0 60px 0;
}

.wrapper-for-about .about-wrapper {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.wrapper-for-about .about-wrapper .about-explanation {
  margin: 30px 0;
}

.business-wrapper {
  max-width: 925px;
  width: 90%;
  margin: 0 auto;
}

.business-wrapper h2 {
  text-align: center;
}

.business-wrapper .business-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.business-wrapper .business-items .business-item {
  width: 30%;
  min-width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.business-wrapper .business-items .business-item img {
  height: 30px;
  width: auto;
}

.business-wrapper .business-items .business-item .business-item-exp {
  float: right;
  width: 75%;
}

.wrapper-for-areas {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  padding: 60px 0;
  background-color: black;
}

.wrapper-for-areas .areas-of-focus-wrapper {
  max-width: 925px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.wrapper-for-areas .areas-of-focus-wrapper svg {
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.wrapper-for-areas .areas-of-focus-wrapper .text-area {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}

.wrapper-for-areas .areas-of-focus-wrapper .text-area h2 {
  margin: 30px 0;
  color: #ffffff;
}

.wrapper-for-areas .areas-of-focus-wrapper .text-area p {
  margin: 7.5px 0;
  color: #fbfbfb;
}

.wrapper-for-areas .areas-of-focus-wrapper .areas-of-focus-childwrapper {
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-for-areas .areas-of-focus-wrapper .areas-of-focus-childwrapper .area-item {
  width: 32%;
  height: auto;
}

.wrapper-for-areas .areas-of-focus-wrapper .areas-of-focus-childwrapper .area-item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 720px) {
  .wrapper-for-areas .areas-of-focus-wrapper .text-area {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .wrapper-for-areas .areas-of-focus-wrapper .areas-of-focus-childwrapper {
    padding: 0;
    margin: 30px 0 0 0;
  }
}

.wrapper-for-areas .background {
  position: absolute;
  bottom: 25%;
  right: 5%;
  height: 80vh;
  max-height: 100vw;
  z-index: -1000;
}

.wrapper-for-areas .background img {
  height: 100%;
  width: auto;
}

.team-wrapper {
  max-width: 925px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.team-wrapper .profile-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.team-wrapper .profile-cards .profile-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  padding: 15px 30px;
}

.team-wrapper .profile-cards .profile-card .profile-photo {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.team-wrapper .profile-cards .profile-card p {
  margin: 15px 0;
}

.team-wrapper .profile-cards .profile-card p span {
  font-weight: 600;
}

.team-wrapper .profile-cards .profile-card .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  height: 27px;
}

.team-wrapper .profile-cards .profile-card .media-icons .media-icon {
  width: 27px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .team-wrapper .profile-cards .profile-card {
    width: 43%;
    padding: 0;
    margin: 0 auto;
  }
  .team-wrapper .profile-cards .profile-card .media-icons {
    height: 22px;
  }
  .team-wrapper .profile-cards .profile-card .media-icons .media-icon {
    width: 22px;
  }
}

.wrapper-for-partners {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  padding: 90px 0 60px 0;
}

.wrapper-for-partners .partners-wrapper {
  max-width: 925px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.wrapper-for-partners .partners-wrapper h2 {
  margin-bottom: 30px;
}

.wrapper-for-partners .partners-wrapper .partner-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-for-partners .partners-wrapper .partner-logos .partner-logo {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 140px;
  max-height: 100px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=home.css.map */